body{
	font-family: "Trebuchet MS", sans-serif;
	max-width: 1100px;
	margin-right: auto;
	margin-left: auto;
	background-color: lightgray;

}

	
.story_header {
	font-family: "Trebuchet MS", sans-serif;
	text-align: center;
}


.byline{
p{	
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	font-family: "Trebuchet MS", sans-serif;

}
	
}

.dateline{

p{ font-size: 10pt;
	text-align: center;
	font-family: "Trebuchet MS", sans-serif;
	
}
		
}

.article{
	max-width:900px;
	margin-left: 5%;
	margin-right: 5%;
	text-align: left;
	
}

.story_copy {

p{
	font-family: "Trebuchet MS", sans-serif;
	font-size: 20px;

}
}


img{
	width: 100%;
}


.photo_caption{

	color: black; 
	font-size:14px;
	margin-top: 0px;
	font-family: "Trebuchet MS", sans-serif;;
}
	


iframe {
  display: block;
  width: 100%;
  border: none;
}

a:hover {
	color: hotpink;
	text-decoration-color: black;
}

a {
  color: black

}

.wrapper2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap:10px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.wrapper1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:10px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.wrapper3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:10px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

}



@media (max-width: 800px){
  .wrapper {

      grid-template-columns: 1fr;
  }
  .wrapper2 {
      grid-template-columns: 1fr;
  }
  .wrapper3 {
  	grid-template-columns: 1fr;
  }


}





